<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        type="text/css"/>

  <style>
    body {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      }
  </style>
  <title>Tasktracker</title>
</head>
<body>
  <div align="center">
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button> <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:signup' %}">Registration</a>
  </form>
{% endblock %}
{% for message in messages %}
  <div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
{% endfor %}
</div>
</body>
