{% include 'partials/header.html' %}
<div align="center">
 <font class="lead" color="lightgrey">
  <a href="/tasktracker" ><font color="white"><< Go Back</font></a>
  {%if not task.state == 'Ready'%}
  <br>
  <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:complete' task.id %}">Complete</a>
  {%endif%}
  <br>
  <h5>Title:</h5>
  <h5>{{task.title}}</h5>
  <label for="title">Discription:</label><br />
  <p>{{task.body}}</p>
  <p>Group: {{task.group}}</p>
  <p>Priority: {{task.priority}}</p>
  <p>Deadline: {{task.deadline}}</p>
  <p>State: {{task.state}}
  <p>Created on {{task.timecreate}}</p>
  <p>Changed on {{task.timechange}}</p>
</font>
</div>
{% include 'partials/footer.html' %}
