{% include 'partials/header.html' %}
<font color="white">
<div class="container">
<form action="{% url 'tasktracker:edit'  task.id %}" method="post">
{% csrf_token %}
{% for message in messages %}
  <div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
{% endfor %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" value="{{task.title}}"/>
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text" >{{task.body}}</textarea>
  <br>
  <label for="deadline">Deadline</label><br />
  <div class="container">
    <div class="row">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input  type="text" name="deadline" id="datetime"  value="{{deadline}}" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        <script type="text/javascript">
        $(function () {
              $('#datetimepicker1').datetimepicker();
              });
        </script>
    </div>
</div>
  <br>
  <label for="group">Group</label><br />
  <input type="text" name="group" id="group" value="{{task.group}}"/>
  <br>
  <label for="priority">Priority</label><br />
  <select name="priority">
	   <option  value="High" {% if task.priority == 'High' %}selected="selected"{% endif %} >High</option>
	   <option value="Medium" {% if task.priority == 'Medium' %}selected="selected"{% endif %} >Medium</option>
	   <option value="Low" {% if task.priority == 'Low'  %}selected="selected"{% endif %} >Low</option>
  </select>
  {{ task.users.all. }}
  {% if task.author == current_user %}
  <br>
  <label for="priority">Users(who have access)</label><br />
  <select name="users" id="some-select" multiple="multiple">
    {% for user in users %}
        {% if not user.username == current_user.username %}
          <option {% if user in task.users.all %} selected="selected" {%endif%}value="{{user.username}}">{{user.username}}</option>
        {% endif %}
    {% endfor %}
  {% endif %}
  </select>
  <br><br>
  <font color="black"><input type="submit" value="Submit" /></font>
</form>
<br>
<a href="/tasktracker"><< Go Back</a>
</div>
</font>
{% include 'partials/footer.html' %}
