{% include 'partials/header.html' %}
<header>
  <div class="container bg-info p-5 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'tasktracker:add'  %}" class="btn btn-danger btn-lg" role="button">Add Task</a>
            <a href="{% url 'tasktracker:logout'  %}" class="btn btn-warning btn-lg" role="button">Log Out</a>
            <a href="{% url 'tasktracker:change_password'  %}" class="btn btn-danger btn-lg" role="button">Change Password</a>
            <a href="{% url 'tasktracker:removeuser'  %}" class="btn btn-primary btn-lg" role="button" onclick="return confirm('Are you sure you want to delete this?')">Delete Account</a>
            <a href="{% url 'tasktracker:reccurent'  %}" class="btn btn-warning btn-lg" role="button">Add Reccurent Task</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!---->
<main>
<div class="container my-5">
       <div class="card-body text-center">
         {% for message in messages %}
           <div class="alert alert-success">
             <a class="close" href="#" data-dismiss="alert">×</a>
               {{ message }}
             </div>
         {% endfor %}
  </div>
    <div class="card">
        <table class="table table-hover">
            <thead>
              <div class="container">
                <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:show' 'Ready' %}"> Complete</a>
                <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:show' 'Failed' %}"> Failed</a>
                <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:show' 'Not Ready'%}"> Not Ready</a>
                <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:index' %}"> All</a>
              </div>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">State</th>
                <th scope="col">Group</th>
                <th scope="col">Edit Task </th>
                <th scope="col">Task Info</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              {% if task.subtask == False %}
              <tr>
                <td>{{task}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.state}}</td>
                <td>{{task.group}}</td>
                <td>
                  <div class="container">
                    <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:edit' task.id %}"><i class="far fa-edit"></i> edit</a>
                    <form class="btn btn-sm btn-primary" action="{% url 'tasktracker:delete' task.id %}" method="post">
                      {% csrf_token %}
                        <input class="btn btn-sm btn-primary" type="submit" onclick="return confirm('Are you sure you want to delete this?')" class="btn" value="delete" name="delete"/>
                   </form>
                    <a class="btn btn-sm btn-danger" href="{% url 'tasktracker:subtask' task.id %}"><i class="far fa-edit"></i>add subtask</a>
                  </div>
                </td>
                <td><a class="btn btn-sm btn-info" href="{% url 'tasktracker:detail' task.id %}"><i class="fas fa-info-circle"></i> Details</a> </td>
              </tr>
              {% for subtask in tasks %}
                {%if subtask.parent == task.id %}
                <tr>
                  <td><li>{{subtask}}</li></td>
                  <td>{{subtask.deadline}}</td>
                  <td>{{subtask.state}}</td>
                  <td>{{subtask.group}}</td>
                  <td>
                      <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:edit' subtask.id %}"><i class="far fa-edit"></i> edit</a>
                      <form class="btn btn-sm btn-primary" action="{% url 'tasktracker:delete' task.id %}" method="post">
                        {% csrf_token %}
                          <input class="btn btn-sm btn-primary" type="submit" onclick="return confirm('Are you sure you want to delete this?')" class="btn" value="delete" name="delete"/>
                     </form>
                  </td>
                  <td><a class="btn btn-sm btn-info" href="{% url 'tasktracker:detail' subtask.id %}"><i class="fas fa-info-circle"></i> Details</a> </td>
                </tr>
                {%endif%}
                {% endfor %}
              {%endif%}
              {% endfor %}
            </tbody>
          </table>
    </div>
    <h2 align="center">Reccurent Tasks</h2>
    <div class="card">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Deadline</th>
                <th scope="col">State</th>
                <th scope="col">Group</th>
                <th scope="col">Edit Task </th>
                <th scope="col">Task Info</th>
              </tr>
            </thead>
            <tbody>
              {% for task in reccurenttasks %}
              <tr>
                <td>{{task}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.state}}</td>
                <td>{{task.group}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:redit' task.id %}"><i class="far fa-edit"></i> edit</a>
                    <form class="btn btn-sm btn-primary" action="{% url 'tasktracker:rdelete' task.id %}" method="post">
                      {% csrf_token %}
                        <input class="btn btn-sm btn-primary" type="submit" onclick="return confirm('Are you sure you want to delete this?')" class="btn" value="delete" name="delete"/>
                   </form>
                </td>
                <td><a class="btn btn-sm btn-info" href="{% url 'tasktracker:rdetail' task.id %}"><i class="fas fa-info-circle"></i> Details</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <h2 align="center">Team Tasks</h2>
    <div class="card">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Author</th>
                <th scope="col">Deadline</th>
                <th scope="col">State</th>
                <th scope="col">Group</th>
                <th scope="col">Edit Task </th>
                <th scope="col">Task Info</th>
              </tr>
            </thead>
            <tbody>
              {% for task in teamtasks %}
              {% if task.subtask == False %}
              <tr>
                <td>{{task}}</td>
                <td>{{task.author}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.state}}</td>
                <td>{{task.group}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:edit' task.id %}"><i class="far fa-edit"></i> edit</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'tasktracker:subtask' task.id %}"><i class="far fa-edit"></i>add subtask</a>
                </td>
                <td><a class="btn btn-sm btn-info" href="{% url 'tasktracker:detail' task.id %}"><i class="fas fa-info-circle"></i> Details</a> </td>
              </tr>
              {% for subtask in teamtasks %}
                {%if subtask.parent == task.id %}
                <tr>
                  <td><li>{{subtask}}</li></td>
                  <td>{{subtask.author}}</td>
                  <td>{{subtask.deadline}}</td>
                  <td>{{subtask.state}}</td>
                  <td>{{subtask.group}}</td>
                  <td>
                      <a class="btn btn-sm btn-primary" href="{% url 'tasktracker:edit' subtask.id %}"><i class="far fa-edit"></i> edit</a>
                  </td>
                  <td><a class="btn btn-sm btn-info" href="{% url 'tasktracker:detail' subtask.id %}"><i class="fas fa-info-circle"></i> Details</a> </td>
                </tr>
                {%endif%}
                {% endfor %}
              {%endif%}
              {% endfor %}
            </tbody>
          </table>
    </div>
{% include 'partials/footer.html' %}
