{% include 'partials/header.html' %}
<font color="white">
<div class="container">
<form action="{% url 'tasktracker:redit'  task.id %}" method="post">
{% csrf_token %}
{% for message in messages %}
  <div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
{% endfor %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" value="{{task.title}}"/>
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text" >{{task.body}}</textarea>
  <br>
  <label for="deadline">Deadline</label><br />
  <div class="container">
    <div class="row">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input  type="text" name="deadline" id="datetime"  value="{{deadline}}" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        <script type="text/javascript">
        $(function () {
              $('#datetimepicker1').datetimepicker();
              });
        </script>
    </div>
</div>
  <br>
  <label for="priority">How often repeat(days):</label><br />
  <input type="number" name="period" id="input" min="0" value="{{task.period}}">
  <br>
  <label for="priority">When repeat(weekday):</label><br />
  <select name="weekdays" id="some-select" multiple="multiple">
      <option {% if '0' in task.days %}selected="selected"{% endif %} value="0">Monday</option>
      <option {% if '1' in task.days %}selected="selected"{% endif %} value="1">Tuesday</option>
      <option {% if '2' in task.days %}selected="selected"{% endif %} value="2">Wednesday</option>
      <option {% if '3' in task.days %}selected="selected"{% endif %} value="3">Thursday</option>
      <option {% if '4' in task.days %}selected="selected"{% endif %} value="4">Friday</option>
      <option {% if '5' in task.days %}selected="selected"{% endif %} value="5">Saturday</option>
      <option {% if '6' in task.days %}selected="selected"{% endif %} value="6">Sunday</option>
  </select>
  <br>
  <label for="group">Group</label><br />
  <input type="text" name="group" id="group" value="{{task.group}}"/>
  <br>
  <label for="priority">Priority</label><br />
  <select name="priority">
	   <option  value="High" {% if task.priority == 'High' %}selected="selected"{% endif %} >High</option>
	   <option value="Medium" {% if task.priority == 'Medium' %}selected="selected"{% endif %} >Medium</option>
	   <option value="Low" {% if task.priority == 'Low'  %}selected="selected"{% endif %} >Low</option>
  </select>
  <br><br>
  <font color="black"><input type="submit" value="Submit" /></font>
</form>
<br>
<a href="/tasktracker"><< Go Back</a>
</div>
</font>
{% include 'partials/footer.html' %}
