{% include 'partials/header.html' %}
<font color="white">
<div class="container">
<form action="{% url 'tasktracker:subtask'  task.id %}" method="post">
{% csrf_token %}
{% for message in messages %}
  <div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
{% endfor %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" />
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text"></textarea>
  <br>
  <label for="deadline">Deadline</label><br />
  <div class="container">
    <div class="row">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" name="deadline" id="datetime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        <script type="text/javascript">
        $(function () {
              $('#datetimepicker1').datetimepicker();
              });
        </script>
    </div>
</div>
  <br>
  <label for="group">Group</label><br />
  <input type="text" name="group" id="group" />
  <br>
  <label for="priority">Priority</label><br />
  <select name="priority">
     <option value="High">High</option>
     <option value="Medium">Medium</option>
     <option value="Low">Low</option>
  </select>
  <br><br>
  <font color="black"><input type="submit" value="Submit" /></font>
</form>
<br>
<a href="/tasktracker"><< Go Back</a>
</div>
</font>
{% include 'partials/footer.html' %}
